h1{
	color: pink;
}
body{
	background-color: pink;
	color:red;
	font-family: arial;
}
.container{
	width=500px
}
ul.a{
	list-style-type: square;
}
input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.box-2{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.box-1{
	background-color: pink;
	color:black;
}
.box-3{
  background-color: green;
  color: white;
  padding: 25px;
  text-align: center;
}
.box-3:hover{
  background-color: blue;
}